# WoW Two-Hand Weapons

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#read the Two-Hand csv
th_file = "Resources/two hand.csv"
th_df=pd.read_csv(th_file)
th_df.head()

,agi,agiint,agistr,agistrint,arcres,armor,classes,cooldown,critstrkrtng,dmg,...,slotbak,socket1,socket2,socket3,speed,splcritstrkrtng,splpwr,sta,str,versatility
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.0,NaN,...,17.0,NaN,NaN,NaN,3.6,NaN,NaN,356.0,237.0,NaN
1,237.0,NaN,237.0,NaN,NaN,NaN,NaN,NaN,123.0,NaN,...,17.0,NaN,NaN,NaN,3.6,NaN,NaN,356.0,237.0,87.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,...,17.0,NaN,NaN,NaN,3.6,NaN,NaN,356.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,NaN,NaN,NaN,3.6,NaN,NaN,4.0,10.0,NaN

In [5]:
#Clean the data frame to have only relevant stats/columns
clean_th_df=th_df[["name_enus", "quality", "dmgmin1", "dmgmax1", "dps", "mlespeed"]]
clean_th_df.head()
#Rename Columns
th_renamed=clean_th_df.rename(columns={"name_enus": "Name",
                                       "quality": "Quality",
                                       "dmgmin1": "Minumum Damage",
                                      "dmgmax1": "Maximum Damage",
                                      "dps": "Damage Per Second",
                                      "mlespeed": "Weapon Speed (in Seconds)"})
#drop NaN columns as these are not weapons and irrelevant to the dataset if they do not have a damage value
th_renamed=th_renamed.dropna(how='any')
th_renamed.head()

,Name,Quality,Minumum Damage,Maximum Damage,Damage Per Second,Weapon Speed (in Seconds)
0,The Unstoppable Force,Epic,562.0,723.0,178.50,3.6
1,Ice Barbed Spear,Epic,449.0,835.0,178.44,3.6
2,Very Light Sabre,Uncommon,2.0,3.0,0.70,3.6
3,Whiteout Staff,Epic,273.0,369.0,89.18,3.6
4,Sin'dorei Warblade,Rare,10.0,18.0,4.01,3.6